[run]
source = web, scripts, ml
omit =
    */tests/*
    */venv/*
    */env/*
    */__pycache__/*
    */site-packages/*
    */conftest.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
